@import 'app';
@import 'footer';
@import 'homeMob';
@import 'wall';
@import 'skills';

* {
    font-family: sans-serif;
  }

.presetBackground {
  width: 100vw;
  height: 100vh;
  background-color: #2a2a2a;
  color: white;
}