.Refferences {
  .RefferenceName {
    display: flex;
    width: 90%;
    border: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #44d9e6;
    margin-bottom: 15px;
  }
}
