#wall {
    background-color: #2a2a2a;
    color: white;
    animation: animationFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: -100% 0%;
    width: 100vw;
    height: 100vh;
    #allProjects {

    }
    #featuredProjects {

    }
}

@keyframes animationFrames{
    0% {
        transform:  translate(0px,0px);
    }
    .1% {
        transform:  translate(0px,100%);
    }
    100% {
        transform:  translate(0px,0px);
    }
  }